* {
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  width: 100%;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/118/634/original/aesthetic-minimalist-pink-headphone-0gpxg8h0y89rw2en.jpg?1710189543");

  background-size: cover;
  background-position: center;
  position: relative;
}

.nav li {
  float: right;
  list-style: none;
}

.nav a {
  list-style: none;
  height: 50px;
  line-height: 50px;
  font-size: 1rem;
  font-weight: 550;
  display: block;
  padding: 5px 35px;
  color: #f6859e;
  text-decoration: none;
}

.content {
  width: 100%;
  position: absolute;
  top: 45%;
}

.left-col {
  margin-left: 11%;
}

.left-col h1 {
  font-size: 50px;
  color: #f6859e;
}

.right-col {
  float: right;
  margin-right: 10%;
  margin-top: -5%;
  display: flex;
  align-items: center;
}

.right-col p {
  font-size: 21px;
  color: #f6859e;
  font-weight: 650;
  margin-right: 20px;
}

#icon {
  cursor: pointer;
  width: 80px;
  mix-blend-mode: multiply;
}
